<nav class="ui menu">
  <header class="ui header item"><a href="#"> POI </a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <div class="ui simple dropdown item">
      <i class="large user icon"></i>
      <div class="menu">
        <a id="settings" class="item" href="/settings"> Settings </a>
        <a id="logout" class="item" href="/logout"> Logout </a>
      </div>
    </div>
  </div>
</nav>

<script>
  {{#if id}}
    $('#{{id}}').addClass('active item');
  {{/if}}
</script>