{{#if success}}
  <div class="ui success message transition">
    <i class="close icon"></i>
    <div class="header">
      Your request was successful
    </div>
    <p>{{success.message}}</p>
  </div>
{{/if}}