{{> menu_welcome }}

<section class="ui center aligned middle aligned segment">
  <div class="ui two column middle aligned grid basic segment">
    <div class="column">
      <h1 class="ui header">
        POI Islands of Ireland
      </h1>
      <p>
        Explore the most interesting points of interest around the islands of Ireland!
        You can use this app to search and select point of interests but you need to sign up if you want to tag or add your own poi.
      </p>
    </div>
    <div class="column">
      <img class="ui image" alt="map" src="/images/ireland_map_blank.png">
    </div>
  </div>
</section>