{{> menu_user id = 'settings'}}

<section class="ui segment">
  <div class="ui vertical segment">
    <form class="ui form" action="/settings" method="POST">
      <h3 class="ui header">Account Details</h3>
      <div class="two fields">
        <div class="required field">
          <label>First Name</label>
          <input placeholder="First Name" type="text" name="firstName" value="{{user.firstName}}" required>
        </div>
        <div class="required field">
          <label>Last Name</label>
          <input placeholder="Last Name" type="text" name="lastName" value="{{user.lastName}}" required>
        </div>
      </div>
      <div class="required field">
        <label>Email</label>
        <div class="ui left icon input">
          <input placeholder="Email" type="email" name="email" value="{{user.email}}" required>
          <i class="user icon"></i>
        </div>
      </div>
      <div class="required field">
        <label>Password</label>
        <div class="ui left icon input">
          <input placeholder="Password" type="password" name="password" value="{{user.password}}" required>
          <i class="lock icon"></i>
        </div>
      </div>
      <button class="ui blue submit button">Update</button>
    </form>
  </div>
  <div class="ui vertical segment">
    {{> error }}
    <form class="ui form" action="/delete" method="POST">
      <h4 class="ui dividing header">Delete Account</h4>
      <div class="required field">
        <div class="ui checkbox required">
          <input type="checkbox" tabindex="0" class="hidden" name="delete" value="yes" required>
          <label>I confirm to delete my account</label>
        </div>
      </div>
      <button class="ui red submit button">Delete</button>
    </form>
  </div>
</section>